{% extends "base.html" %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="{%url 'project-details' story.project.pk %}">{{story.project.name}}</a></li>
  <li class="active">{{story.title}}</li>
</ol>

<div>
    <h1>{{story.title}}</h1>

    <p class="lead">
        {{story.description}}
    </p>

    <br>

    <h2>Estimated By</h2>
    <div>
        {% include "user/user-list.html" with users=story.get_estimated_by only %}
    </div>

    <h2>Estimations</h2>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Points</th>
                <th>Comment</th>
            </tr>
        </thead>
    <tbody>
        {% for estimate in story.estimate_set.all %}
            <tr>
                <td>{{estimate.user.first_name}} {{estimate.user.last_name}}</td>
                <td>{{estimate.points}}</td>
                <td>{{estimate.comment}}</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>

    <hr>

    <a href="{% url 'estimate-new' story.pk %}" class="btn btn-primary">Estimate</a>

</div>
{% endblock %}
