{% extends "base.html" %}

{% block content %}
<ol class="breadcrumb">
  <li class="active">{{project.name}}</li>
</ol>
<div>
    <h1>Project: {{project.name}}</h1>

    <h2>Members</h2>
    <div>
        {% include "user/user-list.html" with users=project.members.all only %}
    </div>

    <h2>Active Stories</h2>
    <div>
        {% for story in project.story_set.all %}
            <p class="lead"><a href="{% url 'story-details' story.pk %}">{{story.title}}</a></p>
        {% empty %}
            <i>This project has no stories</i>
        {% endfor %}
    </div>


</div>
{% endblock %}
